.login_content form input[type='text']:focus,
.login_content form input[type='email']:focus,
.login_content form input[type='password']:focus {
  -ms-box-shadow: 0 0 2px #ed1c24 inset;
  -o-box-shadow: 0 0 2px #ed1c24 inset;
  box-shadow: 0 0 2px #2774e7 inset;
  background-color: #fff;
  border: 1px solid #2774e7;
  outline: 0;
}

.panel_toolbox > li {
  float: right;
  cursor: pointer;
}

.edit_data {
  float: right;
}

#img_edit {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
}

.show_password span {
  margin: 0 10px;
}

.show_password {
  margin-top: 5px;
}

.radio {
  float: left;
  margin-right: 10px !important;
}

#myDatepicker2 {
  float: none;
  padding: 0 10px !important;
  margin-bottom: 0px;
}

#nominal_bayar {
  padding-left: 50px;
}

span.fa.fa-money.form-control-feedback.left {
  margin-top: 5px;
}

.upload_bukti_note {
  margin-left: 10px;
}

.pilih_file {
  margin: 0 auto;
}

button#login {
  margin-left: 88px !important;
}

.col-md-9.col-xs-12.input-group.date {
  padding: 0 10px !important;
}

.input-group {
  margin-bottom: 0;
}
